<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ixpand" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>iXpand</name>
    <js-module name="iXpand" src="www/iXpand.js">
        <clobbers target="cordova.plugins.iXpand" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="iXpand">
                <param name="android-package" value="cordova-plugin-ixpand.iXpand" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/iXpand.java" target-dir="src/cordova-plugin-ixpand/iXpand" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="iXpand">
                <param name="ios-package" value="iXpand" />
            </feature>
        </config-file>
        
        <framework src="iXpand-SDK-iOS/iXpandSDKlib.framework" custom="true" type="projectReference" />
        <source-file src="src/ios/iXpand.m" />

    </platform>
</plugin>